body {
    background-color: #F5F5F5 !important;
}
@font-face {
    font-family: 'GE SS Unique Lights';
    src: url('../GE\ SS\ Unique\ Light.otf');
  }

.WalkSport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.WalkSportText {
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    color: #333333;
    text-align: right;
    font-family: 'GE SS Unique Lights';



}

.startBtn {
    width: 57px;
    height: 55px;
}


.whoPartners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PartnersTextImg {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.whoPartnerText {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #008056;
}

.NameInput {
    background-color: #FFFFFF;
}
.NameInput::placeholder {
    font-family: 'GE SS Unique Lights';
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: justified;
    color: #333333;
    display: flex;
    position: relative;
    top: 8px;

    }

input[type="text"] {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    text-align: right;
    width: 60%;
    height: 62px;
    box-shadow: 0px -4px 2px 0px #C1C1C1;
    padding: 10px;
}

.containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first-area second-area thrid"
        "fourth fifth .";
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-are {
    grid-area: first-are;
}

.second-area {
    grid-area: second-area;
}

.thrid {
    grid-area: thrid;
}

@media (max-width: 767px) {
    input[type="text"] {
        width: 88%;
        height: 42px;
    }
    .NameInput::placeholder {
       font-size: 12px;
       font-weight: 300;
       line-height: 15px;
       top: 0px;
    
        }
    .containers {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "first-area second-area"
            "fourth fifth"
            "thrid .";

    }
}

.parents {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
 
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50px;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
}

.div4 {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
}

.div5 {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
}
.imgs{
    position: relative;
    left: 20px;
    bottom: 26px;
}


@media (max-width: 767px) {
    .parents {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 121px;
        height: 115px;
    }

    .WalkSportText {
        font-size: 16px;
        line-height: 19px;
        text-align: right;
    }

    .startBtn {
        width: 42px;
        height: 40px;
    }

    .imgs {
        height: 312px;
        width: 330px;
        bottom: 20px;
    }
    .div2{
        left: 16px;
    }


}