body {
    background-color: #FFFFFF !important;
    font-family: 'GE SS Unique Bold';
}

  @font-face {
    font-family: 'GE SS Unique Bold';
    src: url('../GE\ SS\ Unique\ Light.otf');
  }
  @font-face {
    font-family: 'GE SS Unique Light';
    src: url('../GE\ SS\ Unique\ Bold.otf');
  }
  @font-face {
    font-family: 'EnLanguage';
    src: url('../HelveticaNeue.ttc');
  }
.landingPage {

    top: 0;
        left: 50%;
        z-index: 3;
        position: absolute;
        transform: translateX(-50%);
}

.descriptionText {
    color: #333333;
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    text-align: justify !important;
    direction: rtl;
    font-family: 'GE SS Unique Bold';
}
html[lang="en"] .descriptionText{
    font-family: 'EnLanguage';
    direction: ltr;

}



.startBtn {
    background-color: #F0C905;
    border: #F0C905;
    border-radius: 24px;
    padding: 5px 24px 5px 24px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    font-family: 'GE SS Unique Light';
    height: 60px;
    margin-bottom:40px;
    box-shadow: 0 -2px 0 0 #333333, 2px 0 0 0 #333333;

}
html[lang="en"] .startBtn{
    font-family: 'EnLanguage';
}

.landingGroupImg {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.peopleImg {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
  

}

.shadowImg {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    
}

#footer{
    position: absolute; bottom: 0
   }
@media screen and (min-width:1800px) {
.peopleImg{
    width: 1440px;
}
.shadowImg{
    width: 1440px;
}
}
@media screen and (max-width:600px) {
    .descriptionText {
        font-size: 16px;
        line-height: 19px;
        padding-left: 44px;
        padding-right: 44px;
    }
    #footer{
        bottom:-100px;
    }
  

    .walkImg {
 max-width: 131px;
    }

    .landingGroupImg {}

    .startBtn {
        font-size: 16px;
        height: 40px;
        
    }

}

html[lang="ar"] .descriptionText {
    text-align: right;
}

/* .bgVector{
    background-image: url(../assets/images/firstVector.svg);

    background-repeat: no-repeat;
    position: relative;
    bottom:20px;
    background-size: cover;
    width: 100% !important;
height: 100%;
}
.bgVector2{
    background-image: url(../assets/images/secVector.svg);
    background-size: contain;
width: 100% !important;
    background-repeat: no-repeat;
    position: relative;
    z-index: 4 !important;
    background-size: cover;
    height: 100%;


} */
.bgVector{
    position: relative;
    bottom: 30px;
    z-index: 2;
width: 100%;
}
.bgv{
    position: absolute;
    top: 100px;
    width: 100%;


}

.walkImg {
    margin-top: 157px;
    padding-bottom: 464px;
    z-index: 4;
    
  }
