body {
    background-color: #F5F5F5 !important;
    font-family: 'GE SS Unique Bold';
}

  @font-face {
    font-family: 'GE SS Unique Bold';
    src: url('../GE\ SS\ Unique\ Light.otf');
  }
  @font-face {
    font-family: 'GE SS Unique Light';
    src: url('../GE\ SS\ Unique\ Bold.otf');
  }
  @font-face {
    font-family: 'EnLanguage';
    src: url('../HelveticaNeue.ttc');
  }
.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.descriptionText {
    color: #333333;
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    line-height: 44px;
    text-align: justify;
    font-family: 'GE SS Unique Bold';
}
html[lang="en"] .descriptionText{
    font-family: 'EnLanguage';

}

.walkImg {
    width: 368px;
    transform: rotate(-5deg);
    margin-bottom: 16px;

}

.startBtn {
    background-color: #F0C905;
    border: #F0C905;
    border-radius: 24px;
    padding: 5px 24px 5px 24px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    font-family: 'GE SS Unique Light';
    height: 60px;
    margin-bottom:40px;
    box-shadow: 0 -2px 0 0 #333333, 2px 0 0 0 #333333;

}
html[lang="en"] .startBtn{
    font-family: 'EnLanguage';
}

.landingGroupImg {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.peopleImg {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
  

}

.shadowImg {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    
}

#footer{
    position: absolute; bottom: 0
   }
@media screen and (min-width:1800px) {
.peopleImg{
    width: 1440px;
}
.shadowImg{
    width: 1440px;
}
}
@media screen and (max-width:600px) {
    .descriptionText {
        font-size: 16px;
        line-height: 19px;
    }
    #footer{
        bottom:-100px;
    }
  

    .walkImg {
        width: 144px;
        height: 165px;
    }

    .landingGroupImg {}

    .startBtn {
        font-size: 16px;
        
    }

}

html[lang="ar"] .descriptionText {
    text-align: right;
}
