
@font-face {
    font-family: 'GE SS Unique Light' !important;
    src: url('../GE\ SS\ Unique\ Light.otf') !important;
  }
  @font-face {
    font-family: 'Montserrat' !important;
    src: url('../Montserrat\ Semi\ Bold.otf');
  }
.dropdown-menu[data-bs-popper]{
    right: 0 !important;
    left: unset !important;
}
.dropdown-menu{
    right: 0 !important;
    left: unset !important;
    --bs-dropdown-min-width:0 !important

}
.dropdown-text{

}

.dropdown-style{
    background-color: #008656;
    border: #008656;
    width: 56px;
    height: 48px;
    border-radius: 4px;
}
.dropdown-toggle{
    color: #008656;
}
.current-lng{
    color: #008656;
    font-size: 16px;
    font-family: 'Montserrat' !important;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    top: 8px;
}
.dropdown-style::after{
    content: "";
background-color: #FFFFFF !important;
width: 40px;
height: 4px;
top: 60%;
border-radius: 20px;
position: absolute;
transform: translateX(-48%);
}
.dropdown-style::before{
    content: "";
background-color: white !important;
border-radius: 1px;
width: 40px;
height: 4px;
top: 30%;
position: absolute;
transform: translateX(-48%);
}
.third-split::after{
    content: "";
    background-color: white !important;
    border-radius: 20px;
    width: 40px;
    height: 4px;
    top: 45%;
    position: absolute;
    transform: translateX(-48%);
}

.item-style{
       font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: justified;
    color: #333333;
    font-family: 'GE SS Unique Light';

    
    
}
.logoNav{
    width: 118px;
    height: 108px;
}

@media screen and (max-width:600px) {
    .logoNav{
        width: 87px;
        height: 80px;
    }
    .dropdown-style{
        width: 50px;
        height: 42px;
    }
}
