@font-face {
    font-family: 'GE SS Unique Light';
    src: url('../GE\ SS\ Unique\ Light.otf') !important;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat\ Semi\ Bold.otf');
}

@font-face {
    font-family: 'EnLanguage';
    src: url('../HelveticaNeue.ttc');
}

.lang-shortcut {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;

}

.lang-shortcut:hover {
    background-color: transparent;
}

.dropdown-item {
    margin: 0;
    padding: 0;
}

.dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: unset !important;
    display: flex;
    flex-direction: column;
    gap: 31px;

}
@keyframes drop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}





.language-dropdown .dropdown-menu {
    background-color: #F5F5F5;
    width: 60px;
    height: 80px;
    gap: 10px;
    border-radius: 24px 0px 0px 24px;
}

html[lang="en"] .language-dropdown .dropdown-menu {
    padding: 10px;
}

.dropdown-menu {
    right: 0 !important;
    background-color: #F5F5F5;
    left: unset !important;
    --bs-dropdown-min-width: 0 !important;
    border-radius: 24px 0px 0px 24px !important;
    border-color: #F5F5F5;
    box-shadow: 2px 2px 4px 4px #3333331F;
    animation: slide-in 0.7s ease-in-out 0s forwards;
z-index: 1;
  
}




.dropdown-list{
    padding-top: 24px !important;
    padding-bottom: 24px;

}


.dropdown-text {}

.dropdown-style {
    background-color: #008656;
    border: #008656;
    width: 56px;
    height: 48px;
    border-radius: 4px;
    z-index: 999;
}


.dropdown-toggle {
    color: #008656;
}

.current-lng {
    color: #008656;
    border: none;
    background-color: none;
    font-size: 16px;
    font-family: 'Montserrat' !important;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
}

.dropdown-style::after {
    content: "";
    background-color: #FFFFFF !important;
    width: 40px;
    height: 4px;
    top: 60%;
    border-radius: 20px;
    position: absolute;
    transform: translateX(-48%);
}

.dropdown-style::before {
    content: "";
    background-color: white !important;
    border-radius: 1px;
    width: 40px;
    height: 4px;
    top: 30%;
    position: absolute;
    transform: translateX(-48%);
}

.third-split::after {
    content: "";
    background-color: white !important;
    border-radius: 20px;
    width: 40px;
    height: 4px;
    top: 45%;
    position: absolute;
    transform: translateX(-48%);
}

/* Style the items */
.item-style {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color: #333333;
    text-align: right;
    font-family: 'GE SS Unique Light' !important;
    padding-left: 80px;
    padding-right: 36px;
}

/* Add animation to each item separately */
.slide-in-1 {
    animation: slide-ins 0.8s 0s forwards;
}

.slide-in-2 {
    animation: slide-ins 0.9s 0s forwards;
}
.slide-in-3 {
    animation: slide-ins 1s 0s forwards;
}

.slide-in-4 {
    animation: slide-ins 1.2s 0s forwards;
}
.slide-in-5 {
    animation: slide-ins 1.3s 0s forwards;
}

@keyframes slide-ins {
    0% {
        transform: translateY(-100%);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}
@keyframes slide-in {
    0% {
        transform: translateY(-5%);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

html[lang='en'] .item-style{
    padding-right: 55px;
    padding-left: 36px;
}


html[lang="en"] .item-style {
    font-family: 'EnLanguage' !important;

}


.item-style:hover {
background-color: #008656;
border-radius: 16px;
color: #FFFFFF;
}

html[lang="en"] .item-style {
    text-align: left;

}

.logoNav {
    width: 118px;
    height: 108px;
}

@media screen and (max-width:600px) {
    .logoNav {
        width: 87px;
        height: 80px;
    }

    .dropdown-style {
        width: 50px;
        height: 42px;
    }

    .item-style {
        font-size: 14px;
        padding-left: 30px;
        padding-right: 26px;
    }

    .dropdown-menu[data-bs-popper] {
       
        gap: 0px;
        padding-top: 12px;
        padding-bottom: 12px;

    }
    .dropdown-list{
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    html[lang="en"] .item-style {
        padding-right: 10px;
        padding-left: 26px;
        gap: 0px;
    }
}
