
@font-face {
    font-family: 'footer';
    src: url('../Gurmukhi\ MN.ttc');
}
.footer{
  position: relative;
  padding-top: 200px;
}
.container {
  position: relative;
  width: 100%;
}

.ff {
  position: absolute;
  width: 100%;
  height: auto; /* To maintain aspect ratio */
  left: 50%; /* Positions the center of the image */
  transform: translateX(-50%);
  z-index: -1;
}




.fff{
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  max-width: 100%;
  transform: translateX(-50%);
}
.footer-group{
  position: relative;
  bottom:63px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    
    
}

.linkTexts{
    position: relative;
    top: 8px;
    color: #FFFFFF !important;
    text-decoration: none;
}
.textStyle{
    font-family:'footer';
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    gap: 8px;
    padding-right: 10px;
    border-right: 1px solid #9B945F;
    }
    @media screen and (max-width:900px) {
      .textStyle{
          font-size: 18px;
          line-height: 40px;
          font-weight: 300;
          height: 21px;
          margin-top:8px;
          gap: 4px;
      }
      /* .textStyle:nth-child(2) {
          border-right: none;
        } */
        .footer-group{
          margin-bottom: 24px;
          justify-content: center !important;
          align-items: center !important;
        }
        .imk{
          max-width:18px !important;
        }
        .imo{
          gap: 4px !important;
        }
        .linkTexts{
          top: 2px !important;
        }
      
  }
    @media screen and (max-width:767px) {
        .textStyle{
            font-size: 8px;
            line-height: 40px;
            font-weight: 300;
            height: 21px;
            margin-top:8px;
            gap: 4px;
        }
        /* .textStyle:nth-child(2) {
            border-right: none;
          } */
          .footer-group{
            margin-bottom: 24px;
            justify-content: center !important;
            align-items: center !important;
          }
          .imk{
            max-width:10px !important;
          }
          .imo{
            gap: 4px !important;
          }
          .linkTexts{
            top: 0px !important;
          }
        
    }
    /* @media screen and (max-width:378px) {
        .textStyle{
            font-size: 12px;
        }
        .textStyle:nth-child(2) {
            border-right: none;
          }
        
          .imk{
            max-width: 18px !important;
          }
          .linkTexts{
            top: 2px !important;
          }
        
    } */
    /* @media screen and (max-width:280px) {
        .textStyle{
            font-size: 10px;
        }
        .textStyle:nth-child(2) {
            border-right: none;
          }
          .imo{
            gap: 2px !important;
          }
        
          .imk{
            max-width: 12px !important;
          }
          .linkTexts{
            top: 2px !important;
          }
        
    } */
    .textStyle:last-child {
        border-right: none;
      }
      .imo{
        display: flex;
        flex-direction: row !important;
        gap:7px
      }
      .imk{
        max-height: 27px;
        max-width: 27px;
      }