
body {
    background-color: #F5F5F5 !important;
    overflow-x: hidden;

}
a{
    text-decoration: none !important;
}
@font-face {
    font-family: 'GE SS Unique Bold';
    src: url('../GE\ SS\ Unique\ Light.otf');
  }
  @font-face {
    font-family: 'GE SS Unique Light';
    src: url('../GE\ SS\ Unique\ Bold.otf');
  }
  @font-face {
    font-family: 'EnLanguage';
    src: url('../HelveticaNeue.ttc');
  }
.PathsText {
    color: #008056;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 64px;
        font-family: 'GE SS Unique Light' ;

}
html[lang="en"] .PathsText{
        font-family: 'EnLanguage' !important;

}


.paths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
}

.pathsCard {
padding: 36px 60px 36px 60px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 0px #3333331F;
    display: flex;
    margin-bottom: 36px;
    width: 90%;
    transition: transform 0.3s; /* Add a smooth transition for the transform property */
}
.spaceCard{
    margin-bottom: 91px;
}
.pathsCard:hover{
    transform: scale(1.02);
}
.PathsTexts {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 24px;
}

html[lang="en"] .PathsTexts {
    text-align: left;
    padding-left: 0px;

}

.howYouWork {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: justified;
    font-family: 'GE SS Unique Light' !important;
    color: #333333;
    
}
html[lang='en'] .howYouWork{
font-family:'EnLanguage' !important ;
}


.PathsDescription {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    color: #333333;
    text-align: right;
    font-family: 'GE SS Unique Bold';

}

html[lang="en"] .PathsDescription {
    text-align: left;
    font-family:'EnLanguage'  ;


}

.pathsBtn {
    width: 424px;
    height: 38px;
    font-size: 24px;
    background: #EEC718;
    border: #EEC718;
    border-radius: 24px;
    padding: 4px 30px 4px 30px;
    color: #FFFFFF;
    font-family: 'GE SS Unique Bold';
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnDirection{
    display: flex;
    justify-content: right;
}
html[lang="en"] .pathsBtn{
    font-family: 'EnLanguage';
    font-size: 22px;
    
}
html[lang="en"] .btnDirection{
    font-family: 'EnLanguage';
    justify-content: left;
    
}

.center-content {
    display: flex;
    justify-content: right;
    align-items: center;
}
html[lang="en"] .center-content{
    justify-content: left;
}
.pathsImg{
    padding: 0px 60px 0px 60px;

}
html[lang="en"] .pathsImg{
    transform: scaleX(-1);
}
.pathsImg2{
    padding: 0px 60px 0px 60px;

}


html[lang = "en"] .center-content{
    direction: rtl;
}

@media screen and (max-width:967px) {
    .pathsCard{
    }
   
}
@media screen and (max-width:767px) {
    .pathsCard{
        padding: 24px 26px 24px 26px;
        margin-bottom: 16px;
    }
    .paths{
        margin-top: 24px;
    }
   
    .PathsText{
        font-size: 24px;
        line-height: 29px;
        gap: 8px;
        margin-bottom: 24px;

    }
    .PathsTexts{
        line-height: 29px;
        gap: 8px;
        padding-left: 0px;
        
    }
    .howYouWork {
        font-size: 18px;
         line-height: 24px;


    }

    .PathsDescription {
        font-size: 16px;
        line-height: 19px;
        width: 100% !important;
        
    }

    .pathsBtn {
        width: 220px;
        font-size: 14px;
        line-height: 19px;
        padding: 4px 10px 4px 10px;

    }
    html[lang='en'] .pathsBtn{
        font-size: 14px;
    }
    html[lang='en'] .PathsDescription{
        font-size: 14px;
    }

    .pathsImg {
        width: 124px;
        height: 105px;
        padding: 10px 26px 10px 34px;

    }
    .pathsImg2 {
        width: 124px;
        height: 105px;
        padding: 10px 26px 10px 34px;

    }

    .GroupImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .spaceCard{
        margin-bottom: 41px ;
    }

}
@media screen and (max-width:400px) {
    .pathsBtn{
        font-size: 12px;
        padding: 4px 4px 4px 4px;

    }
    html[lang='en'] .pathsBtn{
        font-size: 12px;
        padding: 4px 4px 4px 4px;
    }
    html[lang='en'] .PathsDescription{
        font-size: 12px;
    }
    .pathsImg {
        width: 100px;
        height: 100px;
        padding: 10px 10px 10px 10px;

    }
    .pathsImg2 {
        width: 100px;
        height: 100px;
        padding: 10px 10px 10px 10px;
    }
    

    .howYouWork{
        font-size: 16px;
    }
    .PathsDescription{
        font-size: 14px;
    }
    .pathsBtn{
        font-size: 14px;
    }
}
@media screen and (max-width:375px) {
    .pathsBtn{
        width: 200px;
    }
    
}
@media screen and (max-width:360px) {
    .pathsBtn{
        width: 180px;
    }
    
}
@media screen and (max-width:335px) {
    .pathsBtn{
        width: 160px;
        font-size: 12px;
    }
    .PathsDescription{
        font-size: 12px;
    }
    
}
@media screen and (max-width:315px) {
    .pathsBtn{
        font-size: 10px;
        padding: 0px 0px 0px 0px;

    }
    .howYouWork{
        font-size: 12px;
    }
    .PathsDescription{
        font-size: 10px;
    }
    .pathsImg {
        width: 80px;
        height: 80px;
        padding: 0px 10px 0px 10px;

    }
    .pathsImg2 {
        width: 80px;
        height: 80px;
        padding: 0px 10px 0px 10px;

    }
    html[lang='en'] .pathsBtn{
        font-size: 8px;
    }
    html[lang='en'] .PathsDescription{
        font-size: 10px;
    }
    html[lang='en'] .howYouWork{
        font-size: 12px;
    }
    
    
}

@media screen and (max-width:290px) {
    .pathsBtn{
        width: 150px;
    }
    
}
