
body {
    background-color: #FFFFFF !important;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
}
.bgVector{
    background-image: url(../assets/images/Background.svg);
    background-repeat: no-repeat;
    background-position: center calc(100% + 200px);  
    position: relative;
    transition: background-position 1s; 
 padding-top: 250px;
 width: 100%;

 } 

 .bgVector:hover {
    transition: 4s;
    animation: walk 1s linear;
    
  }
  
  @keyframes walk {
    from {
        background-position:0 calc(100% + 200px) ; 
    }
    to {
        background-position:100% calc(100% + 200px) ; 
    }
  } 
@font-face {
    font-family: 'GE SS Unique Bold';
    src: url('../GE\ SS\ Unique\ Light.otf');
  }
  @font-face {
    font-family: 'GE SS Unique Light';
    src: url('../GE\ SS\ Unique\ Bold.otf');
  }
  @font-face {
    font-family: 'EnLanguage';
    src: url('../HelveticaNeue.ttc');
  }
.PathsText {
    color: #008056;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 33px;
        font-family: 'GE SS Unique Light' ;
        position: relative;
        bottom: 100px;

}
html[lang="en"] .PathsText{
        font-family: 'EnLanguage' !important;
        font-weight:bold !important;

}

.group-Cards{
    padding-bottom: 194px;
}
.paths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.pathsCard {
padding: 36px 60px 36px 60px;
overflow-x: auto;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 2px 2px 22px 0px hsla(0, 0%, 20%, 0.12);
    display: flex;
    margin-bottom: 36px;
    width: 100% !important;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateX(100px); 
    transition: opacity 0.5s ease, transform 0.9s ease;
    
}
@media (max-width: 768px) {
    .animate-on-scroll {
        opacity: 0;
        transform: translateX(15px); 
        transition: opacity 1s ease, transform 0.5s ease;
    }
}
.animate-on-scroll.animate {
    opacity: 1;
    transform: translateX(0);
}

.spaceCard{
    margin-bottom: 91px;
}

.PathsTexts {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 24px;
}

html[lang="en"] .PathsTexts {
    text-align: left;
    padding-right: 24px;
    padding-left: 0px;



}

.howYouWork {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: justified;
    font-family: 'GE SS Unique Light' !important;
    color: #333333;
    
}
html[lang='en'] .howYouWork{
font-family:'EnLanguage' !important ;
}


.PathsDescription {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    color: #333333;
    text-align: right;
    direction: rtl;
    font-family: 'GE SS Unique Bold';

}

html[lang="en"] .PathsDescription {
    font-family:'EnLanguage'  ;
    text-align: left;
    direction: ltr;


}

.pathsBtn {
    width: 424px;
    height: 38px;
    font-size: 24px;
    background: #EEC718;
    border: #EEC718;
    border-radius: 24px;
    padding: 4px 30px 4px 30px;
    color: #FFFFFF;
    font-family: 'GE SS Unique Bold';
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnDirection{
    display: flex;
    justify-content: right;
}
html[lang="en"] .pathsBtn{
    font-family: 'EnLanguage';
    font-size: 20px;
    
}
html[lang="en"] .btnDirection{
    font-family: 'EnLanguage';
    justify-content: left;
    
}

.center-content {
    display: flex;
    justify-content: right;
    align-items: center;
}
html[lang="en"] .center-content{
    justify-content: left;
}
.pathsImg{
    padding: 0px 50px 0px 50px;
    width: 242px;
    height: 192px;

}
html[lang="en"] .pathsImg{
    transform: scaleX(-1);
}
.pathsImg2{
    padding: 0px 50px 0px 50px;
    width: 242px;
    height: 192px;

}


html[lang = "en"] .center-content{
    direction: rtl;
}

@media screen and (max-width:967px) {
    .pathsCard{
    }
   
}
@media screen and (max-width:767px) {
    .group-Cards{
        padding-bottom: 90px;
    }
    .pathsCard{
        padding: 24px 26px 24px 26px;
        margin-bottom: 16px;
    }
    .ss{
        
    }
    .paths{
        margin-top: 24px;
    }
    .bgVector{
        background-image: url(../assets/images/vectorMobile.svg);
        padding-top: 102px;
        background-position:center calc(100% + 60px);


    }

    .bgVector:hover {
        transition: 4s;
        animation: walk 2s linear;
        
      }
      
      @keyframes walk {
        from {
            background-position:0 calc(100% + 60px) ; 
        }
        to {
            background-position:100% calc(100% + 60px) ; 
        }
      } 
   
    .PathsText{
        font-size: 24px;
        line-height: 29px;
        gap: 8px;
        margin-bottom: 24px;
        bottom: 50px;


    }
    html[lang='en'] .PathsText{
        font-weight: 700 !important;
    }
    .PathsTexts{
        line-height: 29px;
        gap: 8px;
        padding-left: 0px;
        
    }
    .howYouWork {
        font-size: 18px;
         line-height: 24px;


    }

    .PathsDescription {
        font-size: 16px;
        line-height: 19px;
        width: 100% !important;
        
    }

    .pathsBtn {
        width: 220px;
        font-size: 14px;
        line-height: 19px;
        padding: 4px 10px 4px 10px;

    }
    html[lang='en'] .pathsBtn{
        font-size: 14px;
    }
    html[lang='en'] .PathsDescription{
        font-size: 14px;
    }

    .pathsImg {
        width: 124px;
        height: 105px;
        padding: 10px 26px 10px 34px;

        
    }
    html[lang='en'] .pathsImg{
        padding: 10px 26px 10px 34px;

    }
    html[lang='en'] .pathsImg2{
        padding: 10px 34px 10px 26px;

    }
    .pathsImg2 {
        width: 124px;
        height: 105px;
        padding: 10px 26px 10px 34px;

    }

    .GroupImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .spaceCard{
        margin-bottom: 41px ;
    }

}
@media screen and (max-width:400px) {
    .pathsBtn{
        font-size: 12px;
        padding: 4px 4px 4px 4px;

    }
    html[lang='en'] .pathsBtn{
        font-size: 12px;
        padding: 4px 4px 4px 4px;
    }
    html[lang='en'] .PathsDescription{
        font-size: 12px;
    }
    .pathsImg {
        width: 100px;
        height: 100px;
        padding: 10px 10px 10px 26px;

    }
    html[lang='en'] .pathsImg{
        padding: 10px 10px 10px 26px;        
    }
    html[lang='en'] .pathsImg2{
        padding: 10px 26px 10px 10px;        
    }
    .pathsImg2 {
        width: 100px;
        height: 100px;
        padding: 10px 10px 10px 26px;
    }
    

    .howYouWork{
        font-size: 16px;
    }
    .PathsDescription{
        font-size: 14px;
    }
    .pathsBtn{
        font-size: 14px;
    }
}
@media screen and (max-width:375px) {
    .pathsBtn{
        width: 200px;
    }
    
}
@media screen and (max-width:360px) {
    .pathsBtn{
        width: 180px;
    }
    
}
@media screen and (max-width:335px) {
    .pathsBtn{
        width: 160px;
        font-size: 12px;
    }
    .PathsDescription{
        font-size: 12px;
    }
    
}
@media screen and (max-width:315px) {
    .pathsBtn{
        font-size: 10px;
        padding: 0px 0px 0px 0px;

    }
    .howYouWork{
        font-size: 12px;
    }
    .PathsDescription{
        font-size: 10px;
    }
    .pathsImg {
        width: 80px;
        height: 80px;
        padding: 0px 10px 0px 10px;

    }
    .pathsImg2 {
        width: 80px;
        height: 80px;
        padding: 0px 10px 0px 10px;

    }
    html[lang='en'] .pathsBtn{
        font-size: 8px;
    }
    html[lang='en'] .PathsDescription{
        font-size: 10px;
    }
    html[lang='en'] .howYouWork{
        font-size: 12px;
    }
    
    
}

@media screen and (max-width:290px) {
    .pathsBtn{
        width: 150px;
    }
    
}
