body {
  background-color: #F5F5F5 !important;
  overflow-x: hidden;

}

@font-face {
  font-family: 'GE SS Unique Bold';
  src: url('../GE\ SS\ Unique\ Light.otf');
}

@font-face {
  font-family: 'GE SS Unique Light';
  src: url('../GE\ SS\ Unique\ Bold.otf');
}

@font-face {
  font-family: 'EnLanguage';
  src: url('../HelveticaNeue.ttc');
}

.progres {
  margin-top: 15px;
  margin-bottom: 8px;
  background-color: #D8D8D8 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px !important;
  gap: 10px;
  min-height: 24px;
  direction: rtl;
}
html[lang="en"] .progres{
  direction: ltr;
}


.progress1 {
  background-color: #008056;
  opacity: 11%;
  width: 69.19px;
  height: 16.21px;
  border-radius: 2px;
  display: flex;
}


.questionsCards {
  background-color: #FFFFFF;
  border-radius: 16px;
  margin-bottom: 101px;
  z-index:0;
}
.greenshadow{
  position: absolute;
  z-index: -1;
  width: 98% !important;
  height: 90%;
  bottom:-30px;
  padding-left: 24px;
  padding-right: 24px;
}
.greenshadow2{
  position: absolute;
  z-index: -1;
  width: 804px !important;
height: 400px;
  bottom:-35px;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.questionNumber {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 67px;
  color: #008056;
  margin-bottom: 104px;
}

.radios {
  display: grid !important;
  grid-template-columns: auto auto !important;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
  direction: rtl;
  padding-right: 24px;
}
html[lang='en'] .radios{
  direction: ltr;
  padding-left: 24px;
}

.checkboxes {
  display: grid !important;
  grid-template-columns: auto auto !important;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
  gap: 12px;
  padding-right: 24px;
  padding-left: 10px;
}
html[lang='en'] .checkboxes{
  direction: ltr;
  padding-left: 24px;
  padding-right: 10px;
}


/* #hell {
  display: flex;
  flex-direction: row !important;
  gap: 12px;
  direction: rtl;
}

html[lang="en"] #hell {
  direction: ltr;
} */

.checkboxGroup {
  /* display: flex !important;
  flex-direction: row !important; */


}




.radioGroup {}

.nextPrevBtn {
  position: relative;
  margin-top: 96px;
  padding-bottom: 48px;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
html[lang="en"] .nextPrevBtn{
  direction: rtl;
}

.nextBtn {
  background-color: #008056;
  border: #008056;
  color: #FFFFFF;
  width: 199px;
  height: 55px;
  border-radius: 40px;
  background-image: url('../assets/images/arrow\ left.png');
  background-repeat: no-repeat;
  
}
html[lang="en"] .nextBtn{
  background-image: url('../assets/images/arrows.svg' );
  background-position: right;


}

.prevBtn {
  max-width: 57px;
  height: 55px;
}
html[lang="en"] .prevBtn{
  transform: rotate(180deg);
}

.answer-button {
  background-color: transparent;
  border: none;
  font-family: 'EnLanguage';
}

.answers {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
  justify-content: start;
  font-family: 'GE SS Unique Bold';
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  color: #404040;
}

html[lang="en"] .answers {
  gap: 0px;
  font-family: 'EnLanguage';

}

.answersCheckBox {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start !important;
  align-items: center;
  text-align: left !important;
  font-family: 'GE SS Unique Bold';
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  color: #404040;
}

html[lang="en"] .answersCheckBox {
  font-family: 'EnLanguage';
}


input[type="checkbox"] {
  display: none;

}

input[type="checkbox"]+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #404040;
  border-radius: 50%;
  margin-right: 5px;
}

input[type="checkbox"]:checked+label::before {
  border: 4px solid #008056;
  align-items: center;

}

label {
  font-size: 18px !important;
  color: #333;
  align-items: center;
  justify-content: center;
  display: flex;

}

html[lang="en"] .label {}

input[type="radio"] {
  display: none;

}

input[type="radio"]+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #404040;
  border-radius: 50%;
  margin-right: 5px;

}

input[type="radio"]:checked+label::before {
  /* background-color: #008056; */
  align-items: center;
  border: 4px solid #008056;
}



.questionSteps{
  position: absolute;
  top: 100px;
  z-index: -1;
}


@media screen and (max-width:676px) {
  .checkboxes {
    grid-template-columns: auto !important;
justify-content: start;

  }

  .radios {
    grid-template-columns: auto !important;
    justify-content: start;

  }

  .progres {
    gap: 3.59px;
    margin-top: 155px;
    margin-bottom: 12.19px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

  }

  .progress1 {
    width: 24.41px;
    height: 12.7px;
  }

  .questionNumber {
    font-size: 16px;
    line-height: 19.92px;
    font-weight: 700;
    margin-bottom: 56px;
    padding-top: 48px;
  }

  .answers {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }

  .nextBtn {
    width: 140px;
    height: 40px;
    background-size: 40px;
  }

  .prevBtn {
    max-width: 42px;
  }

  .nextPrevBtn {
    margin-top: 46px;
    padding-bottom: 48px;
    margin-right: 24px;
    margin-left: 24px;
  }
  .questionSteps{
    display: none;

  }
}