body {
    background-color: #F5F5F5 !important;
    overflow-x: hidden;
}

@font-face {
    font-family: 'GE SS Unique Bold';
    src: url('../GE\ SS\ Unique\ Light.otf');
}

@font-face {
    font-family: 'GE SS Unique Light';
    src: url('../GE\ SS\ Unique\ Bold.otf');
}

@font-face {
    font-family: 'EnLanguage';
    src: url('../HelveticaNeue.ttc');
}

.totalResult {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RateImg {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RateCharacterImg{
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.userName {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    direction: ltr;
}

html[lang="en"] .userName {
    direction: rtl;

}

.nameText {
    font-family: 'GE SS Unique Light';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

html[lang='en'] .nameText {
    font-family: 'EnLanguage';

}
.descriptionTextGroup{
    margin-bottom: 40px;
}

.rate {
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 24px;
}

.rateText {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #008056;
    font-family: 'GE SS Unique Light';
}
p{
    margin: 0 !important;
}

html[lang='en'] .rateText {
    font-family: 'EnLanguage';

}

.titleText {
    font-family: 'GE SS Unique Light';

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

}

html[lang='en'] .titleText {
    font-family: 'EnLanguage';
}

.descriptionText {
    font-family: 'GE SS Unique Light';
    display: flex;
    text-wrap: wrap;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #008056;
    text-align: right;
    margin-bottom: 76px;

}
.calendarPdf{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-bottom: 80px;
}
.addCalendarBtn{
    background: #F0C905;
    border: #F0C905;
    border-radius: 6px;
    color: #FFFFFF;
    min-height: 36px;
    width: 308px;
}
.downloadPdfBtn{
    background: #008056;
    border: #008056;
    border-radius: 6px;
    color: #FFFFFF;
    min-height: 36px;
    width: 308px;
}

.imgRateCharactar {


}


@media screen and (max-width:767px) {
    .imgRateCharactar{
        height: 272px !important;
    }
    .RateCharacterImg{
        margin-top: 12px;
        margin-bottom: 12px;

    }
    .RateImg {
        margin-top: 12px;
    }

    .userName {
        margin-top: 24px;
    }

    .rate {
        margin-top: 12px;
    }

    .imgRate {
        width: 101px;
        height: 53px;
    }

    .nameText {
        font-size: 12px;
        line-height: 19px;
    }
    .descriptionTextGroup{
        margin-bottom: 12px;
    }

    .rateText {
        font-size: 24px;
        line-height: 29px;
    }

    .titleText {
        font-size: 16px;
        line-height: 19px;
    }

    .descriptionText {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 48px;

    }
}
@media screen and (max-width:380px) {
    .imgRateCharactar{
        height: 200px !important;
    }
    }

html[lang='en'] .descriptionText {
    font-family: 'EnLanguage';
    text-align: left;
}