body {
    background-color: #FFFFFF !important;
    overflow-x: hidden;
}

@font-face {
    font-family: 'GE SS Unique Bold';
    src: url('../GE\ SS\ Unique\ Light.otf');
}

@font-face {
    font-family: 'GE SS Unique Light';
    src: url('../GE\ SS\ Unique\ Bold.otf');
}

@font-face {
    font-family: 'EnLanguage';
    src: url('../HelveticaNeue.ttc');
}

.bgVector {
    background-image: url(../assets/images/Background.svg);
    background-repeat: no-repeat;
    background-position: center calc(100% - 400px);
    position: relative;
    transition: background-position 1s;

}

.bgVector:hover {
    transition: 1s;
    animation: walk 1s linear;

}

@keyframes walk {
    from {
        background-position: 0 calc(100% - 400px);
    }

    to {
        background-position: 100% calc(100% - 400px);
    }
}

.totalResult {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RateImg {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RateCharacterImg {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
    animation: anim 2s linear;
}
@keyframes anim {
    0%{
        scale: 1.2;
    }
    50%{
        scale: 0.9;
    }
    75%{
        scale: 1;
    }
    100%{
        scale: 1;
    }
}

.userName {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    direction: ltr;
}

html[lang="en"] .userName {
    direction: rtl;

}

.nameText {
    font-family: 'GE SS Unique Light';
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

html[lang='en'] .nameText {
    font-family: 'EnLanguage';

}

.descriptionTextGroup {
    margin-bottom: 40px;
}

.rate {
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 34px;
}
.rates{
    display: flex;
    justify-content: center !important;
    align-items: center;  
}

.rateText {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #008056;
    font-family: 'GE SS Unique Light';
}


html[lang='en'] .rateText {
    font-family: 'EnLanguage';

}

.titleText {
    font-family: 'GE SS Unique Light';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

}

html[lang='en'] .titleText {
    font-family: 'EnLanguage';
}

.descriptionText {
    font-family: 'GE SS Unique Light';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #008056;
    text-align: justify;
    direction: rtl;
    margin-bottom: 76px;

}

html[lang='en'] .descriptionText {
    font-family: 'EnLanguage';
    direction: ltr;
}

.calendarPdf {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 80px;
}

.addCalendarBtn {
    background: #F0C905;
    border: #F0C905;
    border-radius: 6px;
    color: #FFFFFF !important;
    min-height: 36px;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 358px;
    font-size: 16px;
}

.downloadPdfBtn {
    background: #008056;
    border: #008056;
    border-radius: 6px;
    color: #FFFFFF;
    min-height: 36px;
    width: 358px;
    font-size: 16px;
}

.downloadCalendar {
    font-family: 'GE SS Unique Light';
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 18px;

}

html[lang="en"] .downloadCalendar {
    font-family: 'EnLanguage';

}

.imgRateCharactar {}

@media screen and (max-width:992px) {
    .descriptionTextGroup {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width:767px) {
    .bgVector {
        background-image: url(../assets/images/resultbg.svg);
        background-position: center calc(100% - 200px);

    }
    .bgVector:hover {
        transition: 1s;
        animation: walk 1s linear;
    
    }
    
    @keyframes walk {
        from {
            background-position: 0 calc(100% - 200px);
        }
    
        to {
            background-position: 100% calc(100% - 200px);
        }
    }

    .imgRateCharactar {
        width: 65%;
    }

    .RateCharacterImg {
        margin-top: 25px;
        margin-bottom: 45px;

    }

    .RateImg {
        margin-top: 40px;
    }

    .userName {
        margin-top: 24px;
    }

    .rate {
        margin-top: 14px;
    }

    .imgRate {
        width: 101px;
        height: 53px;
    }

    .nameText {
        font-size: 19px;
        line-height: 23px;
    }

    .descriptionTextGroup {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 0px;
    }

    .calendarPdf {
        gap: 8px;
    }

    .col-lg-9 {
        padding-left: 0px !important;
        padding-right: 10px !important;
    }

    .rateText {
        font-size: 24px;
        line-height: 29px;
    }

    .titleText {
        font-size: 16px;
        line-height: 19px;
        width: 300px;
    }

    .descriptionText {
        font-size: 14px;
        line-height: 19.92px;
        margin-bottom: 12px;
    }

    .addCalendarBtn {
        width: 250px;
        min-height: 24px;
        font-size: 12px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .downloadPdfBtn {
        width: 250px;
        min-height: 24px;
        font-size: 12px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .downloadCalendar {
        gap: 8px;
        font-size: 12px;
    }

    .calendarImg {
        width: 16px;
        height: 16px;
    }

}

@media screen and (max-width:300px) {
    .imgRateCharactar {
        /* height: 220px !important; */
        width: 85%;
    }


}